.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.menu-link:hover {
  color: rgba(0, 0, 0, .85);
  background-color: #0d6efd;
  cursor: pointer;
}

.menu-link.active {
  color: rgba(0, 0, 0, .85);
  background-color: #0d6efd;
}

.menu-link.item-disabled  {
  color:#D3D3D3;
  background-color: #696969;
}

.menu-link.item-disabled:hover  {
  cursor: not-allowed;
}
